swiper-slide.case-text {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

swiper-slide.case-text[data-swiper-slide-index="0"] {
  background-color: goldenrod;
}

swiper-slide.case-text[data-swiper-slide-index="1"] {
  background-color: aquamarine;
}

swiper-slide.case-text[data-swiper-slide-index="2"] {
  background-color: blueviolet;
}

swiper-slide.case-text[data-swiper-slide-index="3"] {
  background-color: brown;
}

swiper-slide.case-text[data-swiper-slide-index="4"] {
  background-color: cadetblue;
}

swiper-slide.case-text[data-swiper-slide-index="5"] {
  background-color: crimson;
}

swiper-slide.case-text[data-swiper-slide-index="6"] {
  background-color: darkgoldenrod;
}

swiper-slide.case-text[data-swiper-slide-index="7"] {
  background-color: darksalmon;
}

swiper-slide.case-text[data-swiper-slide-index="8"] {
  background-color: darkolivegreen;
}

img {
  width: 100%;
  object-fit: cover;
}

.scully-swiper {
  min-height: var(--scullySwiperMinHeight, 120px);
}

.scully-swiper-isRunning {
  height: var(--scullySwiperMinHeight, 120px);
}

.scully-swiper-isRunning > *:not(.scully-swiper-placeholder) {
  display: none !important;
}

.scully-swiper-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.fade-in {
  animation: fadeIn 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
